<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <center>
            <h1>insert_webpage</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="tn">topic_name:</label>
                <input type="text" name="tn" id="tn"><br><br>
                <label for="name">name:</label>
                <input type="text" name="name" id="name"><br><br>
                <label for="url">url:</label>
                <input type="text" name="url" id="url"><br><br>
                <input type="submit" value="insert_webpage">
            </form>
            </center>
    </center>
    
</body>
</html>